<table class="table table-striped" *ngIf="data.length>0;else nodata">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Desc</th>
      <th scope="col">Favorite</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data" (click)="rowClicked(item)" class="cil">
      <th scope="row">1</th>
      <td>{{item.id}}</td>
      <td>{{item.name}}</td>
      <td>{{item.desc}}</td>
      <td class="fav" (click)="fav(item)"><i class="bi "
          [ngClass]="{'bi-star':!item.is_fav,'bi-star-fill':item.is_fav }"></i></td>
    </tr>
  </tbody>
</table>
<ng-template #nodata>
  <div class="alert alert-primary" role="alert">
    No Data
  </div>
</ng-template>
