.br {
  border: 1px solid #1c6ea4;
  border-radius: 15px;
  margin: 10px;
}

.dd {
  box-shadow: 2px 11px 19px 0px black;
  border-radius: 0px 0px 10px 15px;

  overflow-y: scroll;
  max-height: 338px;
  &::-webkit-scrollbar {
    width: 1px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
