<div class="main">
  <div class="container">
    <form (submit)="submit()" [formGroup]="searchForm">
      <div class="form-group">
        <label for="search">Search</label>
        <input type="text" class="form-control" (blur)="submit()" id="search" formControlName="search"
          placeholder="Search">
      </div>

      <div class="spinner-border" *ngIf="loader" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </form>

  </div>
  <div class="container">
    <div class="dd-cont" *ngIf="open" (clickOutside)="triggerdd(false)">
      <app-dropdown></app-dropdown>
    </div>

    <button class="btn btn-primary" type="button" (click)="triggerdd(true,$event)" *ngIf="!open">
      Open dropdown
    </button>
  </div>
</div>
